.navbar {
    background-color: rgb(179,33,52);
  }

.page-footer {
    background-color: rgb(22, 18, 82); 
    color: white; 
    min-height: 40px; 
    font-size: 15px; 
    text-align: center; 
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 7px; 
    border-top: 50px;
    margin-left: 0;
    padding-left: 0;
}


.row {
    margin: 0px;
}

#mapContainer iframe {
    width: 100%;
    height: 500px;    
} 

.color-404 {
    background-color: hsl(240,95%,50%);   
}

.color-304 {
    background-color: hsl(240,80%,50%);
}

.color-204 {
    background-color: hsl(240,65%,50%);
}

.color-104 {
    background-color: hsl(240,50%,50%);
}

.color-410 {
    background-color: hsl(0,95%,50%);
}

.color-310 {
    background-color: hsl(0,80%,50%);
}

.color-210 {
    background-color: hsl(0,65%,50%);
}

.color-110 {
    background-color: hsl(0,50%,50%);
}

.color-406 {
    background-color: hsl(300,95%,50%);
}

.color-306 {
    background-color: hsl(300,80%,50%);
}

.color-206 {
    background-color: hsl(300,65%,50%);
}

.color-106 {
    background-color: hsl(300,50%,50%);
}

#color-bar {
    height: 25px;
    border: 1px solid white;
}

.info {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bolder;
}

.inner-text {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 1%;
}

.perc-text {
    text-align: center;
    font-weight: 900;
}

.inner-bottom-25 {
    position: absolute;
    left: 25%;
}

.inner-bottom-50 {
    position: absolute;
    left: 48%;
}

.inner-bottom-75 {
    position: absolute;
    right: 24%;

}

.inner-bottom {
    font-size: 11px;
}

#xtra-space {
    margin-top: 2%;
    margin-bottom: 2%;
}

.dist-text {
    text-align: center;
    letter-spacing: 0.08rem;
    font-size: 12px;
    padding: 0;
}

/* #mapContainer{
    height: 550px;
    margin-left: 0px;
    margin-top: 0px;
} */

#precinct-graph iframe{
    width: 100%;
    height: 500px;
} 
/* 
#precinct-graph{
    height: 550px;
    margin-left: 0px;
    margin-top: 0px;
} */

/* .plotly-container .mapboxgl-map{
    left: 0px;
    top: 0px;
} */