<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
       <!-- Bootstrap -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../assets/style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="icon" type="image/png" href="../images/usa.png"/>  
      </head>
    <body>

      <!-- NavBar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="index.html">USA Votes Maps</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="MNmap.html">MN Precinct Map</a>
              <li class="nav-item">
                <a class="nav-link" href="project.html">About The Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="aboutUs.html">About Us</a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- Body -->
        <div class = "container">
            <div class = "row">
                <div class = "col-md-12">
                    <h1>Meet the Team</h1>

                </div>
            </div>
            <div class = "row">
                <div class = "col-md-12">
                    We're some super cool cats who meet at a coding bootcamp and then we decided to 
                    keep working together after the bootcamp ended.
                </div>
            </div>
            <div class = "row">

                <div class = "col-md-6">
                    <h3>Liz Jones</h3>
                    <br>
                    <img src="../images/lbj.png" alt="Liz Jones" height=200px>
                    <br>
                    <a href="https://www.linkedin.com/in/liz-jones-389b30171/" target="_blank">
                        <img src="../images/LI-In-Bug.png" alt="LinkedIn Link" width=20px>
                    </a>
                    <a href="https://github.com/searanch" target="_blank">
                        <img src="../images/GitHub-Mark-32px.png" alt="Github Link" width=20px>
                    </a>
                    <br>
                    Some sick facts about Liz. And here's my own lorem ipsom
                    just to see text. Bacon is delectable. Puppies are cute. These simple sentences are simple; but, 
                    sometimes you just need a complex sentence.
                </div>
                <div class = "col-md-6">
                    <h3>Melissa Keller</h3>
                    <br>
                    <img src="../images/mak.jpg" alt="Melissa Keller" height=200px>
                    <br>
                    <a href="https://www.linkedin.com/in/makeller234" target="_blank">
                        <img src="../images/LI-In-Bug.png" alt="LinkedIn Link" width=20px>
                    </a>
                    <a href="https://github.com/makeller234" target="_blank">
                        <img src="../images/GitHub-Mark-32px.png" alt="Github Link" width=20px>
                    </a>
                    <br>
                    Some sick facts about Melissa. And here's my own lorem ipsom
                    just to see text. Bacon is AWESOME. Puppies are cute. These simple sentences are simple; but, 
                    sometimes you just need a complex sentence.
                    
                </div>

            </div>
            <div class = "row">
                <div class = "col-md-6">
                    <h3>Kyle Kracht</h3>
                    <br>
                    <img src="../images/vt.jpg" alt="Kyle Kracht" height=200px>
                    <br>
                    <a href="https://www.linkedin.com/in/kyle-kracht-26588066/" target="_blank">
                        <img src="../images/LI-In-Bug.png" alt="LinkedIn Link" width=20px>
                    </a>
                    <a href="#" target="_blank">
                        <img src="../images/GitHub-Mark-32px.png" alt="Github Link" width=20px>
                    </a>
                    <br>
                    Some sick facts about Kyle. And here's my own lorem ipsom
                    just to see text. Bacon is meh, okay. Puppies are cute. These simple sentences are simple; but, 
                    sometimes you just need a complex sentence.
                </div>


                <div class = "col-md-6">
                    <h3>Vallie Tracy</h3>
                    <br>
                    <img src="../images/vt.jpg" alt="Vallie Tracy" height=200px>
                    <br>
                    <a href="https://www.linkedin.com/in/vallietracy/" target="_blank">
                        <img src="../images/LI-In-Bug.png" alt="LinkedIn Link" width=20px>
                    </a>
                    <a href="https://github.com/VallieTracy" target="_blank">
                        <img src="../images/GitHub-Mark-32px.png" alt="Github Link" width=20px>
                    </a>
                    <br>
                    Some sick facts about Vallie. And here's my own lorem ipsom
                    just to see text. Bacon is good. Puppies are cute. These simple sentences are simple; but, 
                    sometimes you just need a complex sentence.
                    
                    
                </div>
            </div>

        </div>

        <!-- Footer Section -->
        <footer class = "page-footer">
            <div class="footer-copyright text-center py-3">Copyright &copy; Liz Jones, Melissa Keller, Kyle Kracht & Vallie Tracy 2020</div>
        </footer>  

        <!-- bootstrap -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

        <script type="text/python" src="app.py"></script>

    </body>
</html>